<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather app login page</title>
    {{>header}}
    <link rel="stylesheet" href="/css/style2.css">
    <!-- <link rel="stylesheet" href="/css/style3.css"> -->
</head>

<body>
    <div class="login-box">
        <h1>Change Password</h1>
        <form action="/api/users/update/userpassword" method="PUT" id="log-form">
            <label>Enter Your Username</label>
            <input type="text" id="userName" placeholder="Enter Your username" value="" name="username" />

            <label>Enter New Password</label>
            <input type="password" id="Passward" placeholder="Enter Your Password" value="" name="password" />

            <label>Re-enter New Password</label>
            <input type="Password" id="confiormPassWord" placeholder="Confirm Your Passward" value="" name="confirmpassword" />
            <button type="submit" class="btnLogin" value="login" id="submitbtn" />Update</button>
        </form>
        <p class="para-2">
             have an account? <a href="/api/auth/login">Login Here</a>
        </p>
    </div>
    <script src="/js/changePassword.js"></script>
    
</body>
    
</html>