<! DOCTYPE html>
<html lang="en">

<head>
    <title>Weather app logout page</title>
   {{>header}}
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
    {{>navbar}}

    <h1>You are inside logout page</h1>

</body>

</html>