        <!-- creating navigation bar -->
    <div class="navigation">
        <!-- section-1 -->
        <div href="#" class="logo">Allen Parker</div>
        <div class="menu-toggle"></div>

        <div class="navbar">
            <div class="icon">
                <li><a href="/api/index" class="active changecolor">Home</a></li>
                <li><a href="/api/index/showproducts" class="changecolor">Product</a></li>
                
                {{#if title}}
                <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle changecolor" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{title}}</a>
                          <ul class="dropdown-menu" style="background:#069370;">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="/api/admin/update/userpassword">Change Password</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/api/user/logout">Logout</a></li>
                          </ul>
                </li>
                <li><a class="changecolor" href="/api/index/like">Like</a></li>
                <li><a class="changecolor" href="/api/index/cart">Cart</a></li>
                {{else}}
                <li><a class="changecolor" href="/api/user/login">login</a></li>
                <li><a class="changecolor" href="/api/user/register">register</a></li>
                {{/if}}
                

            </div>
        </div>
        <div class="clearfix"></div>

    </div>

