<!DOCTYPE html>
<html lang="en">
  
<head>        
    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <!-- style css link -->
    <link rel="stylesheet" href="/user/css/style.css"> 
    <link rel="stylesheet" href="/user/css/cart.css">
    <link rel="stylesheet" href="/css/product.css">
    <!-- style responsiveness link -->
    <link rel="stylesheet" href="/user/css/phone.css">
    <!-- font awesome icon link -->
    <script src="https://use.fontawesome.com/c99ec6a45d.js"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- animate.css animation cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- aos animation -->
    <link rel="stylesheet" href="aos-animation/aos.css">
    <!-- these is the css Aos CDN link which helps to perform scroll animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {{> header}}

</head>
<body>
<!--onresize="myFunction()"   this is present inside body opening tag-->

<!-- -------------------website part start------------------------- -->


    <!-- creating navigation bar -->
    {{>usernavbar title=username}}

            <!-- ----------------------section-2------------------ -->
    <div class="offer-section">
        <p>Sale Up To 50% Biggest Discounts. Hurry! Limited Perriod Offer <a href="#">Shop Now</a></p>
    </div>
    <!----------------------  section-2 ends------------------------->



    <!-------------------- features product section-5 start ---------------------->

    <div class="product">
          <h2  data-aos="zoom-in"  class="heading">cart product</h2>
          <p class="paragraph" data-aos="fade-right" data-aos-offset="300"data-aos-easing="ease-in-sine">
              Bring called seed first of third give itself now ment</p>

        <div class="containerproducts" id="container">
            
            <!-- products -->
            



        </div>

    </div>

<!-------------------- features product section-5 end ---------------------->


<!-----------------------------  price seection------------------------->

<div class="horizental-line"></div>  
<div class="price-section">
    <div class="ln1">
        <div class="price oneline"> Price<span>(0 items)</span></div>
        <div class="allprice oneline">Rs <span>0.0</span></div>
    </div>
    <div class="ln1">
        <div class="discount oneline">Discount</div>
        <div class="discount-price oneline">Rs <span>0.0</span></div>
    </div>
    <hr>
    <div class="ln1 total-style">
        <div class="total">Total</div>
        <div class="total-allprice">Rs <span>0.0</span></div>
    </div>
    <hr>
     <div class="place-order">
         <a href="payment_gateway_practice.html" class="discover-button">PlaceOrder Now</a>
     </div>
</div> 


 <!-- ------------------footer section-10 start---------------------- -->

  {{> footer}}
 <!-- ------------------footer section-10 ends---------------------- -->


    <!-- these is J-Query CDN having no any relation with the scroll animation . these is used when j-Query code is written -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- these is the downloadable javascript file of the aos scroll animation -->
    <script src="aos-animation/aos.js"></script>

    <!-- these is the  Aos javascript CDN link which helps to perform scroll animation -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- animation on scroll -->

    <script>
        AOS.init({
            offset: 200,  // offset (in px) from the original trigger point
            duration: 2000,
            delay: 100, // values from 0 to 3000, with step 50ms
            duration: 400, // values from 0 to 3000, with step 50ms
            easing: 'ease-in-out', // default easing for AOS animations
            once: false, // whether animation should happen only once - while scrolling down
            mirror: false, // whether elements should animate out while scrolling past them
            anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation          
        });
    </script>

    <!--javascript-file-->
    <!-- <script src="/user/js/cart.js"></script> -->
    <script src="/user/jscript/cart_product_page.js"></script>
</body>
</html>
