<!DOCTYPE html>
<html lang="en">
<head>
    <title>show products</title>
   {{>header}}
   <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/product.css">
</head>
<body>
	{{>navbar title=username}}
	<div class="container-box">
		<div class="container" id="container">
			
			<!-- products -->
			



		</div>
	</div>
    

    <<script src="/admin/js/product.js"></script>
</body>
</html>