<!DOCTYPE html>
<html lang="en">
<head>
	{{>header}}
	<title>get all user</title>
	<link type="text/css" rel="stylesheet" href="/css/style.css">
	<link type="text/css" rel="stylesheet" href="/css/list.css">
</head>
<body>
	{{>navbar title=username}}
	<div class="container-box">
		<div class="container" id="container">
			
			<!-- users -->
         

		</div>
	</div>
	<script src="/admin/js/getUsers.js"></script>
</body>
</html>